{% load static %}

<!DOCTYPE html>
<html>
<head>
  <link href="https://fonts.googleapis.com/css2?family=Source+Sans+Pro&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="{% static 'css/main.css' %}">
</head>
<body>
    
    <h1 class="title">Photo Gallery</h1>
    <a href="{% url 'logout' %}" class="logout">Logout</a>
    
    <div class="gallery-container">
    {% for photo in photos %}
        <div class="responsive">
          <div class="photo">
            <a href="/photo/{{photo.id}}" target="_blank">
              <img src="/photo/{{photo.id}}" alt="{{photo.name}}" width="600" height="400">
            </a>
            <div class="desc">{{ photo.name }}</div>
          </div>
        </div>
    {% endfor %}
    </div>
    
    
    
    
</body>
</html>
